

*{
    margin: 0;
    padding: 0;
  }
  
  .top{
  height: 120px;
  width: auto;
  border: none;
  display: flex;
  align-items: center;
  }
  
  .img{
    margin-left: 80px;
  }
  
  
  .name a{
    width: 800px;
    height: 120px;
    margin-left: 70px;
    font-size: 100px;
    font-family: 'Gagalin';
    text-decoration: none;
    color: black;
  }
  
  .button {
    margin-left: 130px;
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 20px;
    color: #052501;
    border: 2px solid #F0CF83;
    border-radius: 34px;
    background-color: transparent;
    font-weight: 500;
    font-family: "Times New Roman";
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
  }
  
  .button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: #052501;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button:hover::before {
    scale: 3;
  }
  
  .button:hover {
    color: #F0CF83;
    scale: 1.1;
    box-shadow: 0 0px 20px #F0CF83;
  }
  
  .button:active {
    scale: 1;
  }
  
  hr{
    border-top: 1px solid #052501;
  }
  
  .nav-bar{
    height: 70px;
    width: auto;
    border: 1px solid #052501;
    font-size: 22px;
    background-color: #052501;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .nav-bar a{
    padding: 6px;
    border-radius: 5px;
    color: #F0CF83;
    text-decoration: none;
  }
  
  .nav-bar a:hover{
    border: 3px solid #F0CF83;
    border-radius: 34px;
    background-color: #fff;
    color: #052501;
    padding: 5px;
  }


  .card {
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
  
  .card-1{
    border-radius: 8px;
    width: 422px;
    height: auto;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 30px;
    font-family:"Bebas Neue", cursive;
    margin-right: 10px;
    margin-left: 10px;
  }
  .card-2{
    width: 422px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    font-family:"Bebas Neue", cursive;
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .card-1:hover{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  .card-2:hover{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

  }


  .read-more:hover{
    font-size: 17px;
    color:#052501 ;
  }